@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
body {
    background-image: url("../immagine/bg.jpg");
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Rate{
    margin-top: 500px;
    margin-left: 500px;
    color: white;
    background-color: transparent;
    border: 3px solid white ;
    padding: 20px 80px;
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    filter: drop-shadow(0 0 18px #196eeea9)contrast(2) brightness(2);
    
   
  }
  