@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap");

:root {
      --color-blue: #00ffff;
      --color-red: #d20094;
      --color-purple: #900080;
}
body {
      background-image: url(../images/bg.jpg);
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#contenin2 {
      box-sizing: content-box;

      color: white;
}
.imagine {
      padding-left: 100px;
      padding-top: 20px;
}

.titolo {
      font-family: "Outfit", sans-serif;
      font-weight: 300;
      font-weight: lighter;
      text-align: center;
      font-size: 60px;
      margin-top: 160px;
}
#bold {
      display: block;
      text-align: center;
      font-family: "Outfit", sans-serif;
      font-weight: 700;
      font-size: 60px;
      margin-bottom: 50px;
}
#timer {
      position: absolute;
      top: 80px;
      right: 60px;
}
#formClick {
      align-items: center;
      justify-content: center;
      padding: 30px;
      font-family: "Outfit", sans-serif;
      font-weight: 400;

      display: flex;
      flex-wrap: wrap;
}
.bot1,
.bot2,
.bot3,
.bot4 {
      border: 2px solid white;
      border-style: outset;
      padding: 30px 65px;
      border-radius: 40px;
      flex-basis: 0;
      flex-grow: 1;
      margin: 10px;
      flex: 0 1 40%;
      text-align: center;
      font-size: 16px;
      font-family: "Inter", sans-serif;
      color: white;
      cursor: pointer;
      flex: 0 1 40%;
      margin: 10px;

      border-width: 1px;
      background-color: hsla(0, 0%, 100%, 0.137);
      border-image: linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 8px)
                  calc(100% - 8px) no-repeat,
            linear-gradient(346deg, transparent 0%, #ffffff 100%);
}
.white {
      color: white;
      opacity: 1;
}
.num_domande {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      font-family: "Inter", sans-serif;
      margin-left: 200px;
      margin-bottom: 100px;
}
.red {
      color: #900080;
}
.footer {
      display: flex;
      flex-direction: row;
      margin-top: 100px;
      margin-left: 100px;
}
.num_domande {
      margin-left: 200px;
}
.prossima {
      position: relative;
      left: 50%;
}

#bottone {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: transparent;
      color: rgb(255, 255, 255);
      border: 2px solid rgba(214, 211, 211, 0.938);
      height: 70px;
      width: 280px;
      font-weight: bold;
      font-size: 1.4rem;
      cursor: pointer;
}
/*pt1 */

:root {
      --color-blue: #00ffff;
      --color-red: #d20094;
      --color-purple: #900080;
}

body {
      background-image: url("../images/bg.jpg");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#container1 {
      margin-left: 160px;
      margin-top: 40px;
}

.epicodelogo {
      height: 40px;
      width: 170px;
}

.titoli h4,
h5,
h6 {
      font-family: "Outfit", sans-serif;
      font-size: 60px;
}

.titoli h4,
h5 {
      color: white;
      font-size: 5.5em;
}

.titoli h5 {
      font-weight: bold;
      margin-top: -30px;
}

.titoli {
      margin-top: 60px;
}

.h6 {
      font-size: 2.3em;
      color: #d20094;
      margin-top: 35px;
      font-weight: bold;
}

.lista ul {
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 16px;
}
.paragrafi {
      margin-top: 10px;
}

.paragrafi p {
      margin-top: 5px;
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 16px;
}

.lista {
      margin-top: 40px;
      margin-left: 30px;
}

.lista li {
      margin-top: 12px;
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 16px;
}

.lista span {
      font-weight: bold;
}

.aside {
      display: flex;
      flex-direction: row;
      margin-top: 50px;
}

.aside p {
      margin-top: 40px;
      margin-left: 10px;
      font-weight: bold;
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 16px;
}

#proceed2 {
      margin-left: 300px;
      margin-right: 100px;
      border: 6px solid #00ffff;
      background-color: #0994a8;
      color: #0b0f3a;
      font-family: "Outfit", sans-serif;
      font-weight: bold;
      filter: drop-shadow(0 0 18px #196eeea9) contrast(2) brightness(2);
      padding: 10px 75px;
      font-size: 2em;
      cursor: pointer;
      visibility: hidden;
}

.checkbox {
      margin: 0;
      margin-top: 40px;
      margin-left: 7px;
      font: inherit;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid white;
      transform: translateY(-0.1em);
      -webkit-appearance: none;
}

.checkbox:checked {
      background-color: #00ffff;
}
