@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Outfit:wght@400;700&display=swap');

:root {
  --color-blue: #00ffff;
  --color-red: #d20094;
  --color-purple: #900080;
}

body {
  background-image: url(../images/bg.jpg);
  color: white;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resultsPage {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  display:none;
}

.logo {
  height: 40px;
  width: 170px;
  margin-bottom: 20px;
}

.head_container {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.h2_class {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.head_p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

.main_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_section {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  flex-grow: 1;
  margin-right: -80px;
}

.first_section h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-left: 60px;
}

.percentageCorrect {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-left: 60px;
}

.question_summaryCorrect {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 60px;
}
.middle_section, .middle_section p {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  flex-grow: 1;
  position: relative;
}

.programming-stats {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.text-container {
  position: absolute;
  width: 250px;
  margin-bottom: 90px;
}

.span_color2 {
  color: red;
}

.span_color {
  color: #00ffff;
}

.result1 {
  font-size: 20px;
}

.result2 {
  padding-top: 8px;
  font-size: 22px;
  padding-bottom: 23px;
}

.result3 {
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
}

.middle_p {
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.last_section {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  flex-grow: 1;
}

.last_section h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;

}

.percentageWrong {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-left: 30px;
}

.question_summaryWrong {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 80px;
}

/*INIZIO PROVA DONUT CON JS */

.chart-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -125px;
}

/* FINE PROVA DONUT CON JS */

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.buttonRateUs {
  background: none;
  border: 2px solid white;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 65px;
  padding-right: 65px;
  color: white;
  font-size: 20px;
  margin-bottom:30px;
  position: absolute;
  bottom: -25px;
}

.buttonRateUs:hover {
  color: #0B0F3A;
  background-color: #0994A8;
  border: 1px solid #00FFFF ;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 68px;
  padding-right: 68px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  margin-bottom:30px;
  filter: drop-shadow(0 0 18px #196eeea9)contrast(2) brightness(2);
  cursor: pointer;
  position: absolute;
  bottom: -25px;
}