@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap");

root {
  --color-blue: #00ffff;
  --color-red: #d20094;
  --color-purple: #900080;
}

body {
  background-image: url(../images/bg.jpg);
  color: white;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

.logo {
  height: 40px;
  width: 170px;
  margin-bottom: 20px;
}

.head_container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.h2_class {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.head_p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

.main_container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_section {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  flex-basis: 0;
  flex-grow: 1;
}

.first_section h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
}

.percentage {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.question_summary {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.middle_section {
  text-align: center;

  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  flex-basis: 0;
  flex-grow: 1;
}

.span_color2 {
  color: red;
}

.span_color {
  color: #00ffff;
}

.middle_p {
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.last_section {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  flex-basis: 0;
  flex-grow: 1;
}

.last_section h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-align: end;
}

.percentage2 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: end;
}

.question_summary2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: end;
}

/* PROVA CERCHIOOOOOOOOOOOOOOOOOOOOOOO 

.container_test {
  display: flex;
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  background: #fff;
  row-gap: 30%;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: rgba(128, 0, 128, 0);
  background: conic-gradient(#d20094 3.6deg, #00ffff 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-value {
  position: relative;
}

/* FINE PROVA CERCHIOOOOOOOOOOOOOOOOOOOOOOOOO*/

/* INIZIO PROVA DONUT CON JS*/

.chart-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*FINE PROVA DONUT CON JS */

#footer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background: none;
  border: 2px solid white;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 65px;
  padding-right: 65px;
  color: white;
  font-size: 20px;
}
