@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Outfit:wght@400;700&display=swap');

:root {
      --color-blue: #00ffff;
      --color-red: #d20094;
      --color-purple: #900080;
}
body {
      background-image: url(../images/bg.jpg);
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.questionsPage {
      box-sizing: content-box;
      color: white;
      display: none;
}
.imagine {
      padding-left: 120px;
      padding-top: 40px;
      margin-left: 40px;
}

.titolo {
      font-family: "Outfit", sans-serif;
      font-weight: 300;
      font-weight: lighter;
      text-align: center;
      font-size: 1.5em;
      margin-top: 160px;
}
#bold {
      display: block;
      text-align: center;
      font-family: "Outfit", sans-serif;
      font-weight: 700;
      font-size: 60px;
      margin-bottom: 50px;
}

.timer {
      position: absolute;
      top: 150px;
      right: 57px;
      width: 200px;
      height: 200px;
      transform: translate(-50%, -50%) rotate(-90deg);
      filter: drop-shadow(-6px 10px 2px rgb(0 0 2 / 0.2));
    }
    
    .progress-frame {
      fill: transparent;
      stroke: white;
      stroke-width: 20px;
    }
    
    .progress {
      fill: transparent;
      stroke: #9B1E8D;
      stroke-width: 21px;
      stroke-linecap: round;
      transition: stroke-dashoffset 1s;
    }
    
    .time {
     position: absolute;
     top: 150px;
     right: 191px;
     transform: translate(-50%, -50%);
     font-size: 40px;
     color: rgb(238, 238, 238);
     text-align: center;
     font-weight: bold;
    }
    .time p{
      font-size: 12px;
      font-family: "Outfit", sans-serif;
      font-weight: 700;
    }
    .seconds{
    font-size: 35px;
    display: block;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    }

#formClick {
      align-items: center;
      justify-content: center;
      padding: 30px;
      font-family: "Outfit", sans-serif;
      font-weight: 400;

      display: flex;
      flex-wrap: wrap;
}
.bot1,
.bot2,
.bot3,
.bot4 {
      border: 2px solid white;
      border-style: outset;
      padding: 30px 65px;
      border-radius: 40px;
      flex-basis: 0;
      flex-grow: 1;
      margin: 10px;
      flex: 0 1 40%;
      text-align: center;
      font-size: 16px;
      font-family: "Inter", sans-serif;
      color: white;
      cursor: pointer;
      flex: 0 1 40%;
      margin: 10px;

      border-width: 1px;
      background-color: hsla(0, 0%, 100%, 0.137);
      border-image: linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 8px)
                  calc(100% - 8px) no-repeat,
            linear-gradient(346deg, transparent 0%, #ffffff 100%);
}
.white {
      color: white;
      opacity: 1;
}
.num_domande {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      font-family: "Inter", sans-serif;
      margin-left: 200px;
      margin-bottom: 100px;
}
.red {
      color: #900080;
}
.footer {
      display: flex;
      flex-direction: row;
      margin-top: 100px;
      margin-left: 100px;
}
.num_domande {
      margin-left: 80px;
      margin-top: -38px;
}
.prossima {
      position: relative;
      left: 50%;
      bottom: 50px;
}

#bottone {
      margin-left: 80px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: transparent;
      color: rgb(255, 255, 255);
      border: 2px solid rgba(214, 211, 211, 0.938);
      height: 55px;
      width: 260px;
      font-weight: bold;
      font-size: 1.4rem;
      cursor: pointer;
}
